* text=auto encoding=ISO-8859-7
*.frm eol=crlf
*.bas eol=crlf
*.cls eol=crlf
*.ctl eol=crlf
*.vbp eol=crlf
*.vbw eol=crlf
*.bas=auto encoding=ISO-8859-7
*.pdf filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
