* text=auto encoding=ISO-8859-7
*.bas        working-tree-encoding=CP1253 text eol=crlf linguist-language=vba
*.cls        working-tree-encoding=CP1253 text eol=crlf linguist-language=vba
*.ctl        working-tree-encoding=CP1253 text eol=crlf linguist-language=vba
*.dob        working-tree-encoding=CP1253 text eol=crlf linguist-language=vba
*.dsr        working-tree-encoding=CP1253 text eol=crlf linguist-language=vba
*.frm        working-tree-encoding=CP1253 text eol=crlf linguist-language=vba
*.pag        working-tree-encoding=CP1253 text eol=crlf linguist-language=vba
*.vbg        working-tree-encoding=CP1253 text eol=crlf
*.vbl        working-tree-encoding=CP1253 text eol=crlf
*.vbp        working-tree-encoding=CP1253 text eol=crlf
*.vbr        working-tree-encoding=CP1253 text eol=crlf
*.vbw        working-tree-encoding=CP1253 text eol=crlf
*.bas=auto encoding=ISO-8859-7

